#th-header{
  background-color: #FAFAFA;
  height: 74px;
  width: 100%;
  border-bottom: 2px solid #666;
}

  .th-logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  #th-logo-banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 274px 0px 30px 0px;
    opacity: .75;
  }

  #th-title{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 274px;
    padding: 11px 10px 10px 10px;
    border: 1px solid #D02B2B;
    border-radius: 6px;
    text-align: center;
    color: #fafafa;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 18pt;
    opacity: .75;

  }

#th-about{
  height: auto;
  width: 100%;
  display: block;
  background-color: #4A4A4A;
}

#about-header{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 32px;
  color: #fafafa;
  text-transform: uppercase;
}

.th-about-text{
  font-weight: lighter;
  font-size: 18px;
  color: #fafafa;
  line-height: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.th-about-photo{
  margin-bottom: 80px;
  align: center
}

#th-projects{
  background-color: #9B9B9B;
  height: auto;
  width: 100%;
  display: block;
  z-index: 0;
}

  #projects-header{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    color: #fafafa;
    text-transform: uppercase;
    }

  .th-thumbnail{
    display: block;
    height: 300px;
    background-color: #fafafa;
    margin-bottom: 20px;
    overflow: hidden;
    border: none;
    }

    .th-thumbnail-container {
      display: block;
      height: 250px;
      width: 100%;
      background-color: #333;
    }

    .th-thumbnail-container img{
      max-width: 100%;
      height: 250px;
      padding: 0px;
    }

    .th-thumbnail:hover .th-caption,
    .th-thumbnail:focus .th-caption{
      background-color: #D02B2B;
      -webkit-transition: background-color .5s;
      -moz-transition: background-color .5s;
      -ms-transition: background-color .5s;
      -o-transition: background-color .5s;
      transition: background-color .5s;
    }

    .th-thumbnail:hover,
    .th-thumbnail:focus {
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4);
      -webkit-transition: box-shadow .5s;
      -moz-transition: box-shadow .5s;
      -ms-transition: box-shadow .5s;
      -o-transition: box-shadow .5s;
      transition: box-shadow .5s;
    }

    #th-thumbnail-portfolio img{
      max-width: 100%;
      height: auto;
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fafafa;
    }

    #th-thumbnail-portfolio:hover .th-caption,
    #th-thumbnail-portfolio:focus .th-caption{
      background-color: #D02B2B;
      -webkit-transition: background-color .5s;
      -moz-transition: background-color .5s;
      -ms-transition: background-color .5s;
      -o-transition: background-color .5s;
      transition: background-color .5s;
    }

    #th-thumbnail-portfolio:hover,
    #th-thumbnail-portfolio:focus {
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4);
      -webkit-transition: box-shadow .5s;
      -moz-transition: box-shadow .5s;
      -ms-transition: box-shadow .5s;
      -o-transition: box-shadow .5s;
      transition: box-shadow .5s;
    }

  .th-thumbnail img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 6px;
    overflow: hidden;
    }

  .th-caption{
    background-color: #4A4A4A;
    color: #fafafa;
    height: 50px;
  }

  .th-caption h3{
    font-size: 24px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
  }
  a.th-hover:hover,
  a.th-hover:focus {
  text-decoration: none;
  }

#th-contact{
  height: auto;
  width: 100%;
  background-color: #fafafa;
  display: block;
  z-index: 0;
}

#th-contact-header{
  height: 74px;
  width: 100%;
  position: absolute;
  background-color: #6F3D3C;
  border-top: 4px solid #452525;
  border-bottom: 4px solid #452525;
}

.th-font{
  font-family: Avenir, helvetica, Arial, Sans-Serif;
}

.th-cover{
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  overflow: hidden;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.th-cover-monarch{
  height: 500px;
  background-image: url(images/Monarch_Header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
}

.th-cover-relsci{
  height: 500px;
  background-image: url(images/RelSciHeader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0;
  right: 0;
  min-height: 100%;
}

#th-mobile-image{
  content: url(images/Mobile.png);
}

.selected #th-mobile-image{
  content: url(images/Mobile_Active.png);
}

  li a #th-mobile-image:hover {
    content: url(images/Mobile_Active.png);
    cursor: pointer;
  }

#th-web-image{
  content: url(images/Web.png);
}

.selected #th-web-image{
  content: url(images/Web_Active.png);
}

  li a #th-web-image:hover {
    content: url(images/Web_Active.png);
    cursor: pointer;
  }

#th-integrations-image{
  content: url(images/Integrations.png);
}

.selected #th-integrations-image{
  content: url(images/Integrations_Active.png);
}

  li a #th-integrations-image:hover {
    content: url(images/Integrations_Active.png);
    cursor: pointer;
  }

#th-carousel-indicators {
  display: block;
  margin-top: 75px;
  width: 100%;
  height: auto;
  text-align: center;
  list-style: none;
  margin-left: -40px;
}

.th-carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  opacity: .5;
}

.th-relsci-carousel-text-top{
  color: #fafafa;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
  margin-top: 75px;
}

.th-relsci-carousel-text-bottom{
  color: #fafafa;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 75px;
}

.th-overlay{
  display: block;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.th-foreground-container{
  position: relative;
  width: inherit;
  background-color: #fff;
  z-index: 0;
}

img.diamond-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -62px;
}

.placeholder{
  min-height: 800px;
}

.th-logo-header {
  content: url(images/Logo_Header.png);
  display: table;
  padding: 20px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
}

.th-logo-header:hover,
.th-logo-header:focus {
  text-decoration: none;
}

.th-navbar{
  display: block;
  position: fixed;
  height: 74px;
  width: 100%;
  z-index: 100;
  -webkit-transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -ms-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.th-navbar-scrolled{
  background-color: #000;
  border-bottom: 2px solid #000;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
  opacity: .9;
}

.th-nav{
  color: #fafafa;
  height: 74px;
  width: 100%;
  list-style: none;
  font-weight: lighter;
}

.th-nav ul{
  margin-top: 24px;
  padding: 0px;
}

.th-nav li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;
}

.th-nav li.active{
  color: #D02B2B;
  font-weight: 500;
}

.th-nav li a{
  color: #fafafa;
}

.th-nav li.active a{
  color: #D02B2B;
}

.th-nav li a:hover{
  color: #D02B2B;
  text-decoration: none;
  background-color: none;
}

.th-back{
  margin-top: 30px;
  background-color: #333;
  padding: 10px 15px 10px 20px;
  z-index: 5;
  border-radius: 0px 3px 3px 0px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
}

.th-back a{
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  vertical-align: bottom;
}

.th-back a:hover,
.th-back a:focus{
  text-decoration: none;
  color: #ef3b39;
}

em{
  color:#ef3b39;
  font-style: normal;
}

em a{
  color:#ef3b39;
  font-style: normal;
}

.section-header{
  font-size: 36pt;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
}


.th-alt-title{
  margin-top: 140px;
  font-size: 36pt;
  color: #fff;
  text-align: center;
}

.th-subtitle{
  margin-top: 10px;
  margin-bottom: 140px;
  font-size: 24px;
  color: #888;
  text-align: center;
}


.more{
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  height: 460px;
  width: 100%;
	text-transform: uppercase;
  background: black;
  opacity: .0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.inner{
  display: table-cell;
  max-width: 100%;
  vertical-align: middle;
}

.more-text{
  display: block;
  font-size: 24px;
  text-align: center;
  color: #666;
  font-weight: bold;
}

.more:hover{
  opacity: 0.8;
}

#th-contact-header-text{
  margin-top: 40px;
  font-size: 32px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.th-contact-container{
  display: inline-block;
  margin-top: 15px;
}

.th-contact-text{
  display: inline-block;
  font-size: 17px;
  vertical-align: text-bottom;
  margin-left: 5px;
  margin-right: 15px;
  color: #000;
}

.th-contact-text a{
  color:#000;
}

.th-glyphicon{
  color: #ef3b39;
  font-size: 18px;
  padding-top: 10px;
}

.th-resume{
  margin-top: 15px;
  border: none;
  background-color: none;
}

  .th-resume img{
    width: 100%;
    height: auto;
  }

.th-resume-block{
  height: 40px;
  background-color: #ef3b39;
  margin-top: 20px;
  margin-bottom: 10px;
}

.th-resume-header{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}

.level1{
  font-weight: bold;
  color: #000;
}

.level2{
  color: #000;
}

.level3{
  display: inline-block;
  background: transparent;
  border-radius: 10px;
  height: 50px;
  width: 4px;
  box-shadow: -10px 0px 0 0 #D02B2B;
  opacity: .33;
  margin-top: 10px;
  margin-bottom: 10px;
}

.th-spacer{
  height: 50px;
  width: 100%;
  background-color: inherit;
}

#th-home-spacer{
  height: 200px;
  width: 100%;
}

.th-text-box{
  display: block;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
}

.th-text-box-relsci{
  position: relative;
  font-size: 16px;
  font-family: avenir-medium;
  line-height: 1.5;
}

.th-text-box-relsci p{
  margin-top: 75px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#relsci1{
  margin-top: 75px;
  margin-bottom: 75px;
}

#th-relsci-bg{
  width: 100%;
  height: auto;
  background-color: #4A4A4A;
  z-index: 0;
}

.th-divider{
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 33%;
  border-top: 1px solid #ef3b39;
}

.th-borders{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #004712;
  border-bottom: 2px solid #004712;
  }

.th-footer{
  height: 80px;
  width: 100%;
  background-color: #333;
  border-top: 4px solid #666;
  z-index: 1;
}

.th-rapper{
  min-height: 100%;
  margin-bottom: -84px
}

#th-green{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fafafa;
  font-size: 18px;
  font-weight: lighter;
}

#th-greengreeks-middle{
  height: auto;
  width: 100%;
  background-image: url(images/greengreekstexture.png);
  border-top: 4px solid #004712;
}

.th-background{
  height: auto;
  width: 100%;
  background-color: #fafafa;
  display: block;
  z-index: 0;
  box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.3);
}

.under-construction{
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-top: 350px;
  margin-bottom: 400px;
  text-transform: uppercase;
  font-weight: bold;
}

.under-construction p{
  color: #333;
  font-size: 20px;
  margin-top: 15px;
  font-weight: normal;
  text-transform: none;
  text-shadow: none;
}

#monarch-bg{
  width: 100%;
  height: auto;
  background-color: #D8D8D8;
  border-top: 2px solid #979797;
  z-index: 0;
}

.th-button {
  color: #fff;
  border-color: #fff;
  background-color: #4a4a4a;
  border-radius: 3px;
  font-family: avenir-medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.th-button:hover,
.th-button:active,
.th-button.selected,
.th-button .selected {
  color: #4a4a4a;
  background-color: #fff;
  border-color: #fff;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .th-logo-small{
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

@media only screen and (max-width: 476px) {
  #web-header {
    font-size: 24pt;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
  }
  #product-header {
    font-size: 23pt;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: inherit;
    text-align: center;
  }
  #th-contact-header-text{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24pt;
    color: #333;
    text-transform: uppercase;
  }

  .th-integrations-btn {
    font-size: xx-small;
    padding: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .th-nav li {
    padding-left: 10px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 990px) {
  .col-md-3 img {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .th-donations-sm {
    margin-top: 20px;
  }

  .th-logo-header-small{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    opacity: .5;
  }
}

@media only screen and (max-width: 990px) {
  .th-text-box-relsci {
    text-align: center;
  }
  .th-text-box-relsci p{
    display: block;
    margin-top: auto;
    position: relative;
    top: auto;
    transform: none;
  }
